  
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/static
/media

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Django stuff:
*.log
local_settings.py
db.sqlite3


# Environments
.venv
venv/


